<% if @user && @user.errors.any? %>
  <div class="alert alert-danger" id="error_explanation">
    <h4>エラーが発生しました:</h4>
    <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
