<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>

<h2><%= @user.name %> さんのプロフィール</h2>

<p><strong>名前:</strong> <%= @user.name %></p>
<p><strong>メールアドレス:</strong> <%= @user.email %></p>

<%= link_to "編集", edit_user_registration_path, class: "btn btn-primary" %>
