<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>

<div class="container d-flex flex-column align-items-center justify-content-center vh-100">
  <div class="card p-4 shadow-lg" style="max-width: 400px; width: 100%;">
    <div class="text-center mb-3">
      <%= image_tag("nissan_logo.png", alt: "会社ロゴ", class: "img-fluid", style: "max-width: 100px;") %>     
    </div>
    <h2 class="text-center fw-bold">日産トレーディング株式会社</h2>
    <h3 class="text-center">化学品・エネルギーグループ<br>B to B Matching サイト</h3>
    <h3 class="text-center small">このサイトはグローバル B to B ビジネスに特化した売り手と買い手を繋ぐマッチングサービスです。</h3>
    
    <h3 class="text-center fw-bold">B-TRADE</h3>


<%= button_to "ログイン/新規アカウント設定ページ", new_user_session_path, method: :get, class: "btn btn-primary" %>


