<h1>Errors#internal_server_error</h1>
<p>Find me in app/views/errors/internal_server_error.html.erb</p>

<h1>500 - サーバーエラー</h1>
<p>申し訳ありません。サーバーで問題が発生しました。</p>
<%= link_to "ホームへ戻る", root_path, class: "btn btn-danger" %>
