<h1>Errors#not_found</h1>
<p>Find me in app/views/errors/not_found.html.erb</p>

<h1>404 - ページが見つかりません</h1>
<p>申し訳ありません。お探しのページは見つかりませんでした。</p>
<%= link_to "ホームへ戻る", root_path, class: "btn btn-primary" %>
