<div class="container text-center">
  <h2>見積回答番号（ID）： <%= @seller_offer.id %></h2>
  <p>御見積回答有難うございました。見積依頼者宛にあなたが見積回答したことをお知らせ致しましたので、見積依頼者からの返答をお待ちください。</p>

  <%= link_to "ホームへ戻る", menu_path, class: "btn btn-primary" %>
</div>
