<footer class="mt-5 text-center bg-dark text-white py-3">
  <div class="container">
    <div class="d-flex justify-content-center">
      <p class="mb-0">
        <a href="#" class="text-white">サイトマップ</a> | 
        <a href="#" class="text-white">ご利用にあたって</a> | 
        <a href="#" class="text-white">個人情報保護方針</a>
      </p>
    </div>
    <p class="mb-0">© <%= Time.current.year %> NISSAN</p>
  </div>
</footer>