<% if user_signed_in? %>
  <% if current_user.is_admin? %>
    <li class="nav-item">
      <%= link_to "ユーザー管理", admin_users_path, class: "nav-link btn btn-danger text-white" %>
    </li>
  <% end %>
<% end %>
